# NUmeric Data types

In [1]:
import pandas as pd

In [6]:
import pandas as pd  # Import pandas

# Creating a DataFrame with integer data
data = {
    'age': [2, 3, 4, 5, 5, 6, 7, 5],  # 8 values
    'salary': [2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000]  # 8 values (same length)
}

df = pd.DataFrame(data)  # Correct way to create a DataFrame
print(df)  # Display DataFrame

   age  salary
0    2    2000
1    3    3000
2    4    4000
3    5    5000
4    5    6000
5    6    7000
6    7    8000
7    5    9000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     8 non-null      int64
 1   salary  8 non-null      int64
dtypes: int64(2)
memory usage: 260.0 bytes

In [8]:
df.dtypes

age       int64
salary    int64
dtype: object

## yx=2**32
x