# Reading data from csv/excel file

In [ ]:
1. pd.read_excel(): Reads an Excel file into a pandas DataFrame.

2. 'data1.xlsx': Replace this with your actual file path or file name.

3. df_excel.head(): Displays the first five rows of the DataFrame for quick inspection

In [7]:
import pandas as pd
df = pd.read_excel('data1.xlsx')
df

   age  marks
0   20     10
1   30     50
2   40     50
3   50     20

In [9]:
import pandas as pd
df = pd.read_excel('data1.xlsx',sheet_name='Sheet1')
df

   age  marks
0   20     10
1   30     50
2   40     50
3   50     20

In [10]:
import pandas as pd
df = pd.read_excel('data1.xlsx',sheet_name='Sheet2')
df

   him  her
0   10   50
1   20   40
2   10   10
3   50   60
4   20   20
5   50   40
6   10   50

# REad csv file

In [15]:
import pandas as pd
df = pd.read_csv("Book2.csv")
print(df)

   him  her
0   20   30
1   10   10
2   25   50
3   30   50
4   40   20
5   50   20

In [18]:
df = pd.read_csv("C:\Users\Pacific BD\OneDrive\PANDAS\Pandas (Study Mart)\Book2.csv")
df

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1152004664.py, line 1)