#  set to series and dataframe

In [1]:
import pandas as pd

In [10]:
# Sample set
a = {10, 20, 30, 40}
print(a)
type(a)

{40, 10, 20, 30}

set

In [11]:
#convert to series 

series =pd.Series(list(a))  #sets are unordered, converting them to a list gives a random order.
print(series)
type(series)

0    40
1    10
2    20
3    30
dtype: int64

pandas.core.series.Series

In [12]:
#convert a set to a dataframe

df = pd.DataFrame((a), columns=['Values'])
print(df)
type(df)

   Values
0      40
1      10
2      20
3      30

pandas.core.frame.DataFrame

# Tuple to data series and dataframe

In [13]:
# Sample tuple
k = (10, 20, 30, 40)
print(k)
type(k)

(10, 20, 30, 40)

tuple

In [16]:
# Convert tuple to Series
series = pd.Series(k)

print(series)
type(series)

0    10
1    20
2    30
3    40
dtype: int64

pandas.core.series.Series

In [17]:
# Single-column DataFrame

df = pd.DataFrame(k, columns=['Values'])
print(df)

   Values
0      10
1      20
2      30
3      40